*{
	margin:0;
	padding:0;
	font-family:"Lucida Sans Unicode", "Trebuchet MS", Tahoma, Geneva, Helvetica, sans-serif;
	font-size:100%;
	line-height: 1rem
}
body{
	background-color:#cecece;
	color:#222;
}
main{
	width:73vw;
	margin:0 auto;
	background-color:#fff;
	padding: 0;
}
h2{
	text-transform:uppercase;
	font-size: 1.5rem;
	line-height: 2rem;
	color:#313c4e;
	font-weight: 700;
	margin:0.125rem 0;
}

.personal-info{
	max-width:100%;
	height:30vh;
	padding:0.625rem;
	display: inline-flex;
	vertical-align: middle;
	letter-spacing: 0.0625px;
	margin: 1vh 2vh;
}
.personal-info img{
	border-radius: 12vh;
	width:24vh;
	height:24vh;
	margin:auto 2vh;
}
.personal-info div{
	margin:auto 2vh;
	text-align: justify-all;
	padding-right: 1.25rem;

}
.personal-info h3{
	padding:2vh;
	font-size:2rem;
	font-stretch:ultra-condensed;
	font-weight: 500;
}
.personal-info h4{
	padding:2vh;
	color: #313c4e;
	font-size: 1.375rem;
	font-stretch: ultra-condensed;
	font-weight: 300;
}
.personal-info p{
	padding:2vh;
	font-size: 1rem;
	text-shadow: 0.0625rem 0rem 0.125rem lightgray;
}
.contact-information{
	background-color: #313c4e;
	color: #fff;
	padding:0.625rem;
	vertical-align: middle;
}
.contact-information p{
	font-size:1rem;
	line-height: 1.25rem;
	margin: 0.625rem;
	width:calc(50% - 2.5rem);
	display:inline-block;
	position: relative;
}
.contact-information span{
	
}
.icon{
	position: relative;
	top: 0.0625rem;
	display:inline-block;
	height:0.9rem;
	width: 1.25rem;
	margin: auto 0.125rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #313c4e;
}
.icon-email{
	background-image: url("../img/envelope.png");
}
.icon-phone{
	background-image: url("../img/iphone.png");
}
.icon-location{
	background-image: url("../img/location.png");
}
.icon-github{
	background-image: url("../img/social-github.png");
}
.icon-twitter{
	background-image: url("../img/social-twitter.png");
}
.icon-linkedin{
	background-image: url("../img/social-linkedin.png");
}

/*competence classes*/
.competence{
	margin:0.625rem;
	display:inline-flex;
	justify-content: space-around;
	flex-flow: wrap;
}
.education, .skills,
.work-experience,.personal-project,
.organizations,.certificates,
.languages,.interests{
	margin:0 0.625rem;
	width:calc(50% - 2.5rem);
	height: auto;
}
.competence h2{
	text-transform: uppercase;
	margin:0;
	font-size: 1.7rem;
	line-height: 3.4rem;
}
.competence h3{
	font-size: 1.3rem;
	line-height: 2rem;
	display: list-item;
	list-style-image: url("../img/android-remove.png");
	list-style-position: outside;

}
.competence h4{
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-weight: normal;
}
.competence li{
	list-style: none;
}

.date, .address{
	font-style: italic;
	font-size:0.8rem;
	line-height: 1.2rem;
	color: #313c4e;
	display: inline;
}
.address{
	float:right;
	margin-right: 0.1rem
}
.courses > p, .task >p, .organization-desciption,.org .role, .proficiency{
	font-style: italic;
	font-size:0.9rem;
	line-height: 1.2rem;
	color: #313c4e;
}

.courses li, .task li{
	list-style-type: circle;
	list-style-position: outside;
	font-size:1rem;
	line-height: 1.2rem;
	margin-left: 1rem;
}
.organization-desciption,.org .role,.proficiency{
	color: rgb(102,102,102);
	font-size: 0.8rem;
}

.skills p{
	display:inline-block;
	margin:0.3rem;
	height: 1rem;
	padding: 0.5rem;
	line-height: 1rem;
	border-radius: 0.2rem;
	background-color: rgb(102,102,102);
	color: #ddd;
}
.personal-project li{
	margin-bottom:1.25rem;
}
.name,.duration{
	font-size:1.1rem;
	line-height: 1.4rem;
	text-shadow: 0.0625rem 0rem 0.125rem #ccc;
}
.personal-project .description{
	display: list-item;
	list-style-type: circle;
	list-style-position: outside;
	font-size:0.9rem;
	line-height: 1.1rem;
	margin-left: 0.9rem;
}
.languages ul{
	display:flex;
	flex-flow: wrap;
}
.languages li {
	width:calc(50% - 1rem);
	margin-bottom:0.5rem;
	margin-right: 0.5rem;
}
.lang .title{
	text-transform: capitalize;
}

.interests li{
	display:inline-block;
	margin:0.3rem;
	height: 1rem;
	padding: 0.5rem;
	line-height: 1rem;
	border-radius: 0.2rem;
	border: 2px solid lightgray;
	border-style: groove;
}